snippet cl "Print"
console.log($1);$0
endsnippet

snippet ?? "Tertiary"
${1:/* condition */} ? ${2:/* if true */} : ${0:/* if false */}
endsnippet

snippet ret "Return"
return ${0:result};
endsnippet
